body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cantarell", sans-serif;
  font-size: 90%;
  color: #3D3A4B;
  background: #fdfffc; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #3D3A4B;
  font-weight: 400; }

.app {
  display: grid;
  background-color: #fdfffc;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100vh; }

.menu {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: rgba(1, 22, 39, 0.7);
  padding: 5px 0px 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden; }

.menu h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fdfffc;
  font-size: 180%;
  line-height: 100%;
  letter-spacing: 2px;
  padding: 0px 10px 0px; }

.logo {
  color: #fdfffc;
  padding: 0px 10px 0px; }

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0px 0px 0px 0px; }

.navLink {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  text-align: center; }

.navLink i {
  display: block;
  margin-bottom: 5px; }

.navLink a {
  text-decoration: none;
  color: #fdfffc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.green {
  background-color: #2ec4b6; }

.red {
  background-color: #e71d36; }

.yellow {
  background-color: #ff9f1c; }

.blue {
  background-color: #048ba8; }

.orange {
  background-color: #2e1f27; }

.active {
  color: #3D3A4B !important; }

.navLink a:visited {
  color: #fdfffc; }

.main-full {
  display: grid;
  grid-template-columns: 1fr 430px;
  padding-left: 10px; }

.main {
  display: grid;
  grid-template-columns: 1fr 430px;
  padding-left: 10px;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */ }

.sidebar {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 100px 330px;
  width: 430px;
  margin-left: 330px;
  height: 100vh;
  -webkit-transition: margin-left 0.3s linear;
  /* Safari */
  transition: margin-left 0.3s linear; }

.open {
  margin-left: 0px;
  -webkit-transition: margin-left 0.3s linear;
  /* Safari */
  transition: margin-left 0.3s linear; }

.history {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.history-node {
  margin: 0px auto;
  color: white;
  width: 80%;
  padding: 0px 10px;
  background-color: #3D3A4B;
  border-radius: 4px; }

.sidebar-button-container {
  text-align: center;
  min-height: 100vh;
  width: 100px; }

.sidebar-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
  margin-top: 10px;
  border: none;
  color: white;
  border-radius: 4px;
  background-color: #ff9f1c;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px; }

.clear-history {
  text-align: right; }

.clear-history button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
  margin-top: 10px;
  border: none;
  color: white;
  border-radius: 4px;
  background-color: #048ba8;
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px; }

.form-element {
  display: block;
  margin-top: 1em; }
