body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cantarell", sans-serif;
  font-size: 90%;
  color: #3D3A4B;
  background: #fdfffc;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #3D3A4B;
  font-weight: 400; }

.app {
  display: grid;
  background-color: #fdfffc;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100vh; }

.green {
  background-color: #2ec4b6; }

.red {
  background-color: #e71d36; }

.yellow {
  background-color: #ff9f1c; }

.blue {
  background-color: #048ba8; }

.purple {
  background-color: #8FC93A; }

.menu {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #4b5b67;
  padding: 5px 0px 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.menu h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fdfffc;
  font-size: 180%;
  line-height: 100%;
  letter-spacing: 2px;
  padding: 0px 10px 0px; }

.menu h4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fdfffc;
  font-size: 70%;
  letter-spacing: 2px;
  padding: 0px 0px 0px 13px;
  margin-top: -15px; }

.logo {
  color: #fdfffc;
  padding: 0px 10px 0px; }

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0px 0px 0px 0px; }

.navLink {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  text-align: center; }

.navLink i {
  display: block;
  margin-bottom: 5px; }

.navLink a {
  text-decoration: none;
  color: #fdfffc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.active {
  color: #3D3A4B !important; }

.navLink a:visited {
  color: #fdfffc; }

.main-full {
  display: grid;
  grid-template-columns: 1fr 100px;
  padding-left: 10px;
  overflow: hidden; }

.main {
  display: grid;
  grid-template-columns: 1fr 430px;
  padding-left: 10px;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */ }

.sidebar {
  position: absolute;
  margin: 0;
  padding: 0;
  right: -330px;
  display: grid;
  grid-template-columns: 100px 330px;
  width: 430px;
  margin-left: 330px;
  height: 100vh;
  -webkit-transition: margin-left 0.3s, right 0.3s linear;
  /* Safari */
  transition: margin-left 0.3s, right 0.3s linear; }

.open {
  right: 0px;
  margin-left: 0px;
  -webkit-transition: margin-left 0.3s, right 0.3s linear;
  /* Safari */
  transition: margin-left 0.3s, right 0.3s linear; }

.history {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4b5b67;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.history .history-node:last-child {
  margin-bottom: 20px; }

.history-node {
  margin: 0px auto;
  color: white;
  width: 80%;
  padding: 0px 10px; }

.history-node :last-child {
  padding-bottom: 3px; }

.history-node h2 {
  text-align: left;
  color: white;
  padding-top: 10px;
  margin-bottom: 3px; }

.history-node .history-node-date {
  text-align: left;
  font-size: 80%;
  margin-top: 0px; }

.history-framerate, .history-time {
  padding-bottom: 1px;
  text-align: center; }

.history-framerate ul, .history-time ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0; }

.history-framerate div, .history-time div {
  display: inline-block;
  margin-top: 8px;
  text-align: center;
  line-height: 0;
  border-top: 1px solid white; }

.sidebar-button-container {
  text-align: center;
  height: 100vh;
  width: 100px; }

.sidebar-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
  margin-top: 10px;
  border: none;
  background-color: #ff9f1c;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-right: 10px; }
  .sidebar-button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .sidebar-button:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.clear-history {
  text-align: right; }

.clear-history button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
  margin-top: 10px;
  border: none;
  background-color: #048ba8;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-right: 10px; }
  .clear-history button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .clear-history button:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.collapse-header {
  cursor: pointer; }

.holiday-pay-calculator {
  display: grid;
  grid-template-rows: 50px 1fr 1fr;
  grid-template-columns: auto; }

.holiday-pay-calculator .header {
  width: 100%;
  display: flex; }

.holiday-pay-calculator .header .buttons {
  display: inline-block;
  margin-left: auto; }

.holiday-pay-calculator .header .buttons button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
  margin-top: 10px;
  border: none;
  background-color: red;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-left: auto;
  margin-right: 15px; }
  .holiday-pay-calculator .header .buttons button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .holiday-pay-calculator .header .buttons button:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.holiday-pay-calculator h1 {
  display: inline-block;
  margin: 10px 0px 0px 0px; }

.holiday-input form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 75px;
  text-align: center;
  padding: 50px; }

.holiday-input input[type=submit] {
  grid-column: 2; }

input[type=number]::-webkit-input-placeholder {
  font-size: 80%; }

input[type=number] {
  display: block;
  width: 100%;
  font-size: 200%;
  border: none;
  border-bottom: 1px solid #048ba8;
  text-align: center;
  margin-bottom: 5px; }

input[type=submit] {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
  margin-top: 10px;
  border: none;
  background-color: #8FC93A;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 80%;
  margin-top: 20px; }
  input[type=submit]:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  input[type=submit]:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

label {
  text-align: center;
  font-size: 110%;
  width: 80%; }

label i {
  padding-bottom: 10px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.form-element {
  display: block;
  margin-top: 1em; }
