@import 'global.scss';
@import 'menu.scss';
@import 'main.scss';
@import 'history.scss';
@import 'collapse.scss';
@import 'holiday_calc_css.scss';
@import 'input.scss';

.form-element {
    display: block;
    margin-top: 1em;
}