body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Cantarell", sans-serif;
  font-size: 90%;
  color: #3D3A4B;
  background: #fdfffc;
  overflow: hidden; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  color: #3D3A4B;
  font-weight: 400; }

.app {
  display: grid;
  background-color: #fdfffc;
  grid-template-columns: 200px 1fr;
  grid-template-rows: 100vh; }

.green {
  background-color: #2ec4b6; }

.red {
  background-color: #e71d36; }

.yellow {
  background-color: #ff9f1c; }

.blue {
  background-color: #048ba8; }

.purple {
  background-color: #8FC93A; }

.menu {
  display: grid;
  grid-template-columns: 200px;
  grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #4b5b67;
  padding: 5px 0px 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.menu h1 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fdfffc;
  font-size: 180%;
  line-height: 100%;
  letter-spacing: 2px;
  padding: 0px 10px 0px; }

.menu h4 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fdfffc;
  font-size: 70%;
  letter-spacing: 2px;
  padding: 0px 0px 0px 13px;
  margin-top: -15px; }

.logo {
  color: #fdfffc;
  padding: 0px 10px 0px; }

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0px 0px 0px 0px; }

.navLink {
  display: flex;
  padding: 5px;
  align-items: center;
  justify-content: center;
  text-align: center; }

.navLink i {
  display: block;
  margin-bottom: 5px; }

.navLink a {
  text-decoration: none;
  color: #fdfffc;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.active {
  color: #3D3A4B !important; }

.navLink a:visited {
  color: #fdfffc; }

.main-full {
  display: grid;
  grid-template-columns: 1fr 100px;
  padding-left: 10px;
  overflow: hidden; }

.main {
  display: grid;
  grid-template-columns: 1fr 430px;
  padding-left: 10px;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 0px;
  /* remove scrollbar space */ }

.sidebar {
  position: absolute;
  margin: 0;
  padding: 0;
  right: -330px;
  display: grid;
  grid-template-columns: 100px 330px;
  width: 430px;
  margin-left: 330px;
  height: 100vh;
  -webkit-transition: margin-left 0.3s, right 0.3s linear;
  /* Safari */
  transition: margin-left 0.3s, right 0.3s linear; }

.open {
  right: 0px;
  margin-left: 0px;
  -webkit-transition: margin-left 0.3s, right 0.3s linear;
  /* Safari */
  transition: margin-left 0.3s, right 0.3s linear; }

.history {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #4b5b67;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100vh;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.history .history-node:last-child {
  margin-bottom: 20px; }

.history-node {
  margin: 0px auto;
  color: white;
  width: 80%;
  padding: 0px 10px; }

.history-node :last-child {
  padding-bottom: 3px; }

.history-node h2 {
  text-align: left;
  color: white;
  padding-top: 10px;
  margin-bottom: 3px; }

.history-node .history-node-date {
  text-align: left;
  font-size: 80%;
  margin-top: 0px; }

.history-framerate, .history-time {
  padding-bottom: 1px;
  text-align: center; }

.history-framerate ul, .history-time ul {
  list-style-type: none;
  text-align: center;
  padding: 0;
  margin: 0; }

.history-framerate div, .history-time div {
  display: inline-block;
  margin-top: 8px;
  text-align: center;
  line-height: 0;
  border-top: 1px solid white; }

.sidebar-button-container {
  text-align: center;
  height: 100vh;
  width: 100px; }

.sidebar-button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
  margin-top: 10px;
  border: none;
  background-color: #ff9f1c;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-right: 10px; }
  .sidebar-button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .sidebar-button:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.clear-history {
  text-align: right; }

.clear-history button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
  margin-top: 10px;
  border: none;
  background-color: #048ba8;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-right: 10px; }
  .clear-history button:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .clear-history button:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.collapse-header {
  cursor: pointer; }

.calc-format {
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: auto; }

.calc-format .header {
  width: 100%;
  display: flex; }

.calc-format .header .buttons {
  display: inline-block;
  margin-left: auto;
  text-align: right;
  min-width: 150px; }

.calc-format .header .buttons .clear {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
  margin-top: 10px;
  border: none;
  background-color: #e71d36;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-left: auto;
  margin-right: 15px; }
  .calc-format .header .buttons .clear:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .calc-format .header .buttons .clear:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.calc-format .header .buttons .undo {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
  margin-top: 10px;
  border: none;
  background-color: #2ec4b6;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-left: auto;
  margin-right: 15px; }
  .calc-format .header .buttons .undo:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  .calc-format .header .buttons .undo:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

.calc-format h1 {
  display: inline-block;
  margin: 10px 0px 0px 0px; }

.holiday-input form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: 1fr 1fr 75px;
  text-align: center;
  padding: 50px;
  width: 100%; }

.holiday-input input[type=submit], .time-input input[type=submit] {
  grid-column: 2; }

.time-input form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: 1fr 75px;
  text-align: center;
  margin: 30px auto 0px auto;
  padding: 40px;
  width: 100%; }

input[type=number]::-webkit-input-placeholder {
  font-size: 80%; }

.framerate-input form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 75px;
  width: 100%;
  margin-top: 30px;
  text-align: center;
  padding: 50px; }

.framerate-input .form-element {
  grid-column: span 3; }

.framerate-input input[type=submit] {
  grid-column: span 4;
  grid-column-start: 5;
  grid-column-end: 9; }

.date-input form {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr 75px;
  max-width: 100%;
  margin-top: 0px;
  text-align: center;
  padding: 50px; }

.date-input .form-element {
  grid-column: span 4;
  width: 100%; }

.date-input .form-element:first-child {
  grid-column-start: 3;
  grid-column-end: 7; }

.date-input input[type=submit] {
  grid-column: span 4;
  grid-column-start: 5;
  grid-column-end: 9;
  width: 100%; }

input[type=number], input[type=date] {
  display: block;
  width: 100%;
  font-size: 200%;
  border: none;
  border-bottom: 1px solid #048ba8;
  text-align: center;
  margin-bottom: 5px;
  background-color: #fdfffc; }

input[type=number]:focus {
  outline-style: none;
  box-shadow: none;
  border-bottom: 1px solid #8FC93A; }

input[type=submit] {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
  margin-top: 10px;
  border: none;
  background-color: #8FC93A;
  color: white;
  padding: 10px 10px;
  text-decoration: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  width: 80%;
  margin-top: 20px; }
  input[type=submit]:hover {
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); }
  input[type=submit]:active {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

label {
  text-align: center;
  font-size: 110%;
  width: 80%; }

label i {
  padding-bottom: 10px; }

.form-element {
  display: block;
  margin-top: 1em; }

.header-form-element {
  font-family: "Raleway", sans-serif;
  display: inline-block;
  font-size: 50%;
  width: 10%; }

.header-form-element input {
  font-family: "Raleway", sans-serif;
  color: #3D3A4B; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

/* FF 4-18 */
input:focus::-moz-placeholder {
  color: transparent; }

/* FF 19+ */
input:focus:-ms-input-placeholder {
  color: transparent; }

/* IE 10+ */
.holiday-results {
  position: relative;
  clear: both;
  margin: 5px auto;
  width: 100%;
  text-align: center; }

.holiday-results .data {
  position: relative;
  display: inline-block;
  min-width: 170px;
  height: 120px;
  margin: 10px;
  padding: 0px 5px;
  clear: both;
  background-color: #ff9f1c; }

.holiday-results .result {
  position: relative;
  display: inline-block;
  margin: 10px;
  padding: 0px 5px;
  min-width: 170px;
  height: 120px;
  clear: both;
  background-color: #2ec4b6; }

.holiday-results div h2 {
  font-family: "Cantarell", sans-serif;
  position: inherit;
  margin: 25px auto 0px auto; }

.holiday-results div h3 {
  font-family: "Cantarell", sans-serif;
  color: white;
  position: inherit;
  margin: 0px auto; }

.time-frame-results {
  margin: 5px auto;
  width: 100%;
  text-align: center; }

.time-frame-results .data {
  display: inline-block;
  min-width: 170px;
  height: auto;
  min-height: 120px;
  margin: 10px;
  padding: 0px 5px;
  clear: both;
  background-color: #ff9f1c;
  overflow: auto; }

.time-frame-results .data p {
  font-family: "Cantarell", sans-serif;
  position: inherit;
  margin: 10px auto 10px auto;
  color: white; }

.time-frame-results .result {
  display: inline-block;
  margin: 10px;
  padding: 0px 5px;
  min-width: 170px;
  height: 120px;
  clear: both;
  background-color: #2ec4b6;
  overflow: auto;
  vertical-align: top; }

.time-frame-results div h2 {
  font-family: "Cantarell", sans-serif;
  position: inherit;
  margin: 30px auto 0px auto; }

.time-frame-results div h3 {
  font-family: "Cantarell", sans-serif;
  color: white;
  position: inherit;
  margin: 0px auto; }

.date-results {
  margin: 5px auto;
  width: 100%;
  text-align: center; }

.date-results .result {
  display: inline-block;
  margin: 10px;
  padding: 0px 5px;
  min-width: 170px;
  height: 80px;
  clear: both;
  background-color: #2ec4b6;
  overflow: auto;
  vertical-align: top; }

.date-results div h2 {
  font-family: "Cantarell", sans-serif;
  position: inherit;
  margin: 20px auto 0px auto; }

.info-container {
  margin-left: 10px; }

p.info-container:hover .info-box {
  display: block; }

.info-box {
  background: #2ec4b6;
  color: white;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  width: 50vw;
  top: 10px;
  left: 210px;
  display: none;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }
