.calc-format {
    display: grid;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-columns: auto;
}

.calc-format .header {
    width: 100%;
    display: flex;
}

.calc-format .header .buttons {
    display: inline-block;
    margin-left: auto;
}


.calc-format .header .buttons .clear{
    @include button-reset;
    @include button-style($red);
    margin-left: auto;
    margin-right: 15px;
}

.calc-format .header .buttons .undo{
    @include button-reset;
    @include button-style($green);
    margin-left: auto;
    margin-right: 15px;
}


.calc-format h1 {
    display: inline-block;
    margin: 10px 0px 0px 0px;
    
}