$header-font: 'Raleway', sans-serif;
$body-font: 'Cantarell', sans-serif;

$background: #fdfffc;
$body-text: #3D3A4B;
$green: #2ec4b6;
$red: #e71d36;
$yellow: #ff9f1c;
$blue: #048ba8;
$purple: #8FC93A;

@mixin button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;

    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;

    outline: none;
}


@mixin text-sharpen {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin button-style($color) {
    margin-top: 10px;
    border: none;
    background-color: $color;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);

    &:hover {
        box-shadow: 0 2px 6px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    }

    &:active {
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);  
    }
}

body {
    @include text-sharpen;
    font-family: $body-font;
    font-size: 90%;
    color: $body-text;
    background: $background;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $header-font;
    color: $body-text;
    font-weight: 400;
}

.app {
    display: grid;
    background-color: $background;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 100vh;
}

.green {
    background-color: $green;
}

.red {
    background-color: $red;
}

.yellow {
    background-color: $yellow;
}

.blue {
    background-color: $blue;
}

.purple {
    background-color: $purple;
}


