@mixin sidebar-transition {
    -webkit-transition: margin-left 0.3s, right 0.3s linear; /* Safari */
    transition: margin-left 0.3s, right 0.3s linear;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
}


.sidebar {
    position: absolute;
    margin: 0;
    padding: 0;
    right: -330px;
    display: grid;
    grid-template-columns: 100px 330px;
    width: 430px;
    margin-left: 330px;
    height: 100vh;
    @include sidebar-transition;
}

.open {
    right: 0px;
    margin-left: 0px;
    @include sidebar-transition;
}

.history {
    @include text-sharpen;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 100vh;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}


.history-node {
    margin: 0px auto;
    color: $body-text;
    width: 80%;
    padding: 0px 10px;
}

.history-node :last-child {
    padding-bottom: 1px;
}

.history-node h2 {
    color: $body-text;
    padding-top: 10px;
    margin-bottom: 3px;
}

.history-node .history-node-date {
    font-size: 80%;
    margin-top: 0px;
}

.sidebar-button-container {
    text-align: center;
    height: 100vh;
    width: 100px;
}

.sidebar-button {
    @include button-reset;
    @include button-style($yellow);
    margin-right: 10px
}

.clear-history {
    text-align: right;
}

.clear-history button {
    @include button-reset;
    @include button-style($blue);
    margin-right: 10px
}