.holiday-input form{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 1fr 1fr 75px;
    text-align: center;
    padding: 50px;
    width: 100%;
}

.holiday-input input[type=submit], .time-input input[type=submit] {
    grid-column: 2;
}

.time-input form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-template-rows: 1fr 75px;
    text-align: center;
    margin: 30px auto 0px auto;
    padding: 40px;
    width: 100%;
}

input[type=number]::-webkit-input-placeholder {
    font-size: 80%;
}

.framerate-input form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 75px;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    padding: 50px;
}

.framerate-input .form-element {
    grid-column: span 3;
}

.framerate-input input[type=submit] {
    grid-column: span 4;
    grid-column-start: 5;
    grid-column-end: 9;
}


.date-input form {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr 75px;
    max-width: 100%;
    margin-top: 30px;
    text-align: center;
    padding: 50px; 
}

.date-input .form-element {
    grid-column: span 4;
    width: 100%;
}

.date-input .form-element:first-child {
    grid-column-start: 3;
    grid-column-end: 7;
}

.date-input input[type=submit] {
    grid-column: span 4;
    grid-column-start: 5;
    grid-column-end: 9;
    width: 100%;
}

input[type=number], input[type=date] {
    display: block;
    width: 100%;
    font-size: 200%;
    border: none;
    border-bottom: 1px solid $blue;
    text-align: center;
    margin-bottom: 5px;
    background-color: $background;
}

input[type=number]:focus {
    outline-style:none;
    box-shadow:none;
    border-bottom: 1px solid $purple;
}

input[type=submit] {
    @include button-reset;
    @include button-style($purple);
    width: 80%;
    margin-top: 20px;
}

label {
    text-align: center;
    font-size: 110%;
    width: 80%;
    // background-color: green;
}

label i {
    padding-bottom: 10px;
}

.form-element {
    display: block;
    margin-top: 1em;
}

.header-form-element {
    font-family: $header-font;
    display: inline-block;
    font-size: 50%;
    width: 10%;
}

.header-form-element input {
    font-family: $header-font;    
    color: $body-text;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent;  } /* IE 10+ */