.menu {
  background-color: red;
  opacity: 0.6;
  height: 100vh;
  padding: 0px 10px; }

.menu h1 {
  font-size: 220%;
  line-height: 105%;
  letter-spacing: 2px; }

.menu ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.navLink a {
  text-decoration: none; }
