$menu-main: rgba(1, 22, 39, 0.7);
$logo: $background;
$menu-text: $background;

.menu {
    display: grid;
    grid-template-columns: 200px;
    grid-template-rows: 70px 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: $menu-main;
    padding: 5px 0px 0px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    overflow: hidden;
}

.menu h1 {
    @include text-sharpen;
    color: $logo;
    font-size: 180%;
    line-height: 100%;
    letter-spacing: 2px;
    padding: 0px 10px 0px;    
}

.logo {
    color: $logo;
    padding: 0px 10px 0px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0px 0px 0px 0px;
}

.navLink {
    display: flex;
    padding: 5px;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.navLink i {
    display: block;
    margin-bottom: 5px;
}

.navLink a{
    text-decoration: none;
    color: $menu-text;
    @include text-sharpen;
}

.green {
    background-color: $green;
}

.red {
    background-color: $red;
}

.yellow {
    background-color: $yellow;
}

.blue {
    background-color: $blue;
}

.orange {
    background-color: $orange;
}

.active {
    color: $body-text !important;
}

.navLink a:visited {
    color: $menu-text;
}

