.holiday-results {
    position: relative;
    clear: both;
    margin: 5px auto;
    width: 100%;
    text-align: center;
}

.holiday-results .data {
    position: relative;
    display: inline-block;
    width: 150px;
    height: 120px;
    margin: 10px;
    padding: 0px 5px;
    clear: both;
    background-color: $yellow;
}

.holiday-results .result {
    position: relative;
    display: inline-block;
    margin: 10px;
    padding: 0px 5px;
    width: 150px;
    height: 120px;
    clear: both;
    background-color: $green;
}

.holiday-results div h2 {
    font-family: $body-font;
    position: inherit;
    margin: 25px auto 0px auto;
}

.holiday-results div h3 {
    font-family: $body-font;
    color: white;
    position: inherit;
    margin: 0px auto;
}